header h1  {
    font-size: 70px;
    font-weight: 650;
    /* background-image: radial-gradient(#553c9a, #ee4b2b); */
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }

h2 {
  font-size: 50px;
    font-weight: 600;
    /* background-image: radial-gradient(#553c9a, #ee4b2b); */
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}
h3{
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
p {
  font-size: 30px;
    font-weight: 600;
    /* background-image: radial-gradient(#553c9a, #ee4b2b); */
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

body{
    color:beige;
    background-color: #01141c;
    text-align: center;
}



.form{
    font-family: Arial, Helvetica, sans-serif;
    /* padding:20px; */
    color:#9e896f;
    display:table-row;
    font-size:30px;
    /* background-color: ; */
    text-align: left;
    /* align-items: center; */
    margin: 0 auto;
    padding: 20px;
    width: 700px;
    height: 500px;
    
    /* width:200px */
}

.reglon{
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:10px;
  margin-left: 40px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #2b332d;
  font-weight: bold;
}
#rapidezangular{
  margin-left: 75px;
}
#velocidadtangencial{
  margin-left: 55px;
}
#acecentripeta{
  margin-left: 97px;
}

.menu{
  font-size: 18px;
  border-radius: 7px;
  border: 3px solid #033a4f;
}

#calcular{
  background-color: #c23921;
  color:aqua;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-left: 350px;
  font-size: 18px;
 border: 3px solid black;
  border-radius: 15px;
  /* text-shadow: 20px 15px 7px  */
}

